/* -------PATTISJOKKI RIPAN.SE---------- */
@font-face {
  font-family: "AmericanTypewriter";
  src: url("./fonts/AmericanTypewriter.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

/* line 11, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
body {
  background-image: url("./images/paperBody.jpg");
  background-size: 100vw auto;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
}

/* line 22, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
  background-image: url("./images/paperWrapper.jpg");
  background-repeat: repeat;
  background-size: 1000px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
}

/* line 36, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper * {
  grid-column: 3 / -3;
}

/* line 40, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper img {
  max-width: 100%;
}

/* line 44, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .menuImage--full {
  grid-column: 1 / -1;
}

/* line 48, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .menuImage--right {
  grid-column: span 7 / -1;
  margin-top: 50px;
  margin-bottom: -14px;
}

/* line 56, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .menuImage--left {
  grid-column: 1 / span 7;
  margin-top: 50px;
  margin-bottom: -14px;
}

/* line 64, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .menuImage--wideSpan--left {
  grid-column: 1 / span 8;
}

/* line 68, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading {
  font-family: "BebasNeue";
  font-weight: 100;
  font-size: 55px;
  letter-spacing: 5px;
  margin-bottom: -50px;
  z-index: 1;
}

/* line 79, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .menuItem__heading {
  font-family: "BebasNeue";
  font-weight: 100;
  font-size: 22px;
  z-index: 1;
}

/* line 88, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .menuItem__info {
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 93, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper section {
  font-family: "AmericanTypewriter";
}

/* line 97, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer {
  grid-column: 1 / -1;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

/* line 108, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterInfo {
  grid-column: 1 / -1;
  font-family: "AmericanTypewriter";
  margin-bottom: 40px;
  margin-top: 80px;
}

/* line 122, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage {
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

/* line 126, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage img {
  padding-top: 15px;
  max-height: 50px;
}

/* line 132, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  margin: auto;
  padding: 0;
  z-index: 2;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 146, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage p {
  opacity: 0;
  visibility: hidden;
  line-height: 1.5em;
  font-family: "AmericanTypewriter";
  font-size: 11px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 15px;
}

/* line 160, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage:hover .content {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 20px 50px #555;
  box-shadow: 0px 20px 50px #555;
  border-radius: 5px;
}

/* line 172, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage:hover p {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 182, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage1 {
  grid-column: 1 / span 1;
}

/* line 185, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage2 {
  grid-column: 2 / span 1;
}

/* line 188, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage3 {
  grid-column: 3 / span 1;
}

/* line 191, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage4 {
  grid-column: 4 / span 1;
}

/* line 194, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage5 {
  grid-column: 5 / span 1;
}

/* line 198, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards {
  grid-column: 1 / -1;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* line 203, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card {
  width: 100%;
  height: 450px;
  -webkit-perspective: 900px;
  perspective: 900px;
}

/* line 212, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card1 {
  grid-column: 1 / span 3;
}

/* line 214, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card1 .image {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #eba65b), to(#d99267));
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

/* line 218, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card1 .story {
  background: -webkit-gradient(linear, left top, left bottom, from(#eba65b), color-stop(40%, #d99267));
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
}

/* line 223, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card2 {
  grid-column: 4 / span 3;
}

/* line 225, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card2 .image {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #6c76ba), to(#666094));
  background: linear-gradient(to top, #6c76ba 30%, #666094 100%);
}

/* line 229, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card2 .story {
  background: -webkit-gradient(linear, left top, left bottom, from(#6c76ba), color-stop(40%, #666094));
  background: linear-gradient(to bottom, #6c76ba 0%, #666094 40%);
}

/* line 234, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card3 {
  grid-column: 7 / span 3;
}

/* line 236, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card3 .image {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #eba65b), to(#d99267));
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

/* line 240, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card3 .story {
  background: -webkit-gradient(linear, left top, left bottom, from(#eba65b), color-stop(40%, #d99267));
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
}

/* line 245, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card4 {
  grid-column: 10 / span 3;
}

/* line 247, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card4 .image {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #6c76ba), to(#666094));
  background: linear-gradient(to top, #6c76ba 30%, #666094 100%);
}

/* line 251, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card4 .story {
  background: -webkit-gradient(linear, left top, left bottom, from(#6c76ba), color-stop(40%, #666094));
  background: linear-gradient(to bottom, #6c76ba 0%, #666094 40%);
}

/* line 257, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .container {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: rotateX(60deg) scale(0.7);
  transform: rotateX(60deg) scale(0.7);
  -webkit-box-shadow: 0px 20px 50px #555;
  box-shadow: 0px 20px 50px #555;
  -webkit-animation: entry 1s linear 1;
  animation: entry 1s linear 1;
}

/* line 272, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .container:hover {
  cursor: pointer;
  -webkit-transform: rotate(0deg) scale(0.9) translateY(10px) skew(0, 0);
  transform: rotate(0deg) scale(0.9) translateY(10px) skew(0, 0);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 400;
}

/* line 279, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .container:hover p {
  color: black;
  text-shadow: none;
}

/* line 285, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .image {
  width: 100%;
  height: 45%;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 296, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .image img {
  max-height: 100%;
  z-index: 1;
}

/* line 302, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  z-index: 30;
}

/* line 311, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .info {
  position: absolute;
  top: 10%;
}

/* line 316, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards h3 {
  text-align: center;
  color: black;
  letter-spacing: 2px;
}

/* line 322, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
.pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: transparent;
  text-shadow: 0 0 4px #000;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

@media only screen and (max-width: 900px) {
  /* line 356, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
  .pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
  }
  /* line 360, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
  .pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card1 {
    grid-column: 1 / span 3;
  }
  /* line 363, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
  .pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card2 {
    grid-column: 4 / span 3;
  }
  /* line 366, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
  .pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card3 {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }
  /* line 370, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se-pattisjokki/assets/sass/style.scss */
  .pattisjokkiMenu__Wrapper .pattisjokkiMenu__FooterCards .card4 {
    grid-column: 4 / span 3;
    grid-row: 2 / span 1;
  }
}

/*# sourceMappingURL=../style.map */